// init
@import '_variables';

//
$primary: $logoBackgroundColor;
$secondary: #1E2019;
$info: #00A6ED;
$warning: #FFB400;
$success: #7FB800;
$danger: #F6511D;

//
@import '~roboto-fontface/css/roboto/roboto-fontface.css';

// bootstrap
@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';

// app
@import '_base';
