// init
@import '_variables';

//
$primary: $logoBackgroundColor;
$secondary: #1E2019;
$info: #009FB7;
$warning: #FED766;
$success: $successColor;
$danger: #D80032;

//
@import '~roboto-fontface/css/roboto/roboto-fontface.css';

// bootstrap
@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';

// app
@import '_base';
