// init
@import '_variables';

//
$primary: #D0EEFB;
$blue: #00A6ED;
$info: #00A6ED;
$warning: #FFB400;
$success: #7FB800;
$secondary: #0D2C54;
$danger: #F6511D;

//
@import '~roboto-fontface/css/roboto/roboto-fontface.css';

// bootstrap
@import '~bootstrap/scss/bootstrap-reboot.scss';
@import '~bootstrap/scss/bootstrap.scss';
@import '~bootstrap/scss/bootstrap-grid.scss';

// app
@import '_base';
