@import '../../../styles/variables';

.app-container {
  margin-left: 230px;
  position: relative;
  min-height: 100%;
  padding-bottom: 50px;
  background: #F1F4F6;
}

.app-container-content {
  z-index: 200;
}
