@import '../../../styles/variables';

.app-footer {
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  padding: 13px;
  border-top: 1px solid rgba(0, 0, 0, .05);
  font-size: 11px;
  line-height: 17px;
  color: #636c72;
}