@import '../../../styles/variables';

.app-header-menu-item {
  display: inline-block;
  padding: 0 8px;
  height: 100%;
  line-height: 60px;
  border-right: 1px solid $color8;

  a {
    display: block;
    height: 100%;
    text-decoration: none;
    color: #fff;
  }
}

.color-primary {
  background-color: #22AED1;

  &:hover {
    background-color: darken(#22AED1, 12);
  }
}

.color-success {
  background-color: #96C42E;

  &:hover {
    background-color: darken(#96C42E, 12);
  }
}
