@import '../../../styles/variables';

.app-navigation-header {
  h3 {
    color: #636c72;
    margin: 15px;
    margin-bottom: 0;
    font-size: 12px;
    border-bottom: 1px solid #636c72;
    padding-bottom: 5px;
  }
}