@import '~styles/variables';

.app-sidebar-header {
  height: 60px;
  line-height: 60px;
  padding: 0 18px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
  background-color: $logoBackgroundColor;
  color: #fff;
  position: relative;
}

.brand {
  height: 40px;
  line-height: 40px;
  a {
    font-size: 20px;
    margin-bottom: 0;
    line-height: 50px;
    color: #fff;
    text-decoration: none;
  }
}

.brand-small {
  font-size: 12px;
  position: absolute;
  left: 18px;
  bottom: 8px;
  margin: 0;
}
