@import '~styles/variables';

.app-sidebar {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: $sidebarWidthDesktop;
  background-color: $sidebarBackgroundColor;
}

.sidebar-tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .3s ease-in-out;
}

.tabs {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 32px;
      background: $logoBackgroundColor;
      padding: 8px 15px;
      display: inline-block;
      color: #fff;
      cursor: pointer;
      border-right: 1px solid $sidebarBackgroundColor;
      position: relative;
    }
  }
}

.tab-content-container {
  background: lighten($logoBackgroundColor, 20);
  position: absolute;
  left: 0;
  right: 0;
  bottom: -260px;
  height: 260px;
  padding: 10px;
}

.buttons-container {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  & > * {
    display: inline-block;
    flex: 1;
    margin: 0 8px;

    button {
      width: 100%;
    }
  }
}

.is-tab-active {
  bottom: 260px;
}

.sidebar-tab-active {
  background-color: lighten($logoBackgroundColor, 20) !important;
}

.tab-badge {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 13px;
  color: $color4;
}