@import '../../../styles/variables';

.app-sidebar {
  display: block;
  position: fixed;
  left: 0;
  bottom: 0;
  top: 0;
  width: 230px;
  background-color: $sidebarBackgroundColor;
}

.sidebar-tabs {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  transition: all .3s ease-in-out;
}

.tabs {
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;

    li {
      font-size: 32px;
      background: $logoBackgroundColor;
      padding: 8px 15px;
      display: inline-block;
      color: #fff;
      cursor: pointer;
    }
  }
}

.tab-content-container {
  background: $logoBackgroundColor;
  position: absolute;
  left: 0;
  right: 0;
  bottom: -230px;
  height: 230px;
}

.buttons-container {
  position: absolute;
  bottom: 8px;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  button {
    flex: 1;
    margin: 0 8px;
  }
}

.is-tab-active {
  bottom: 230px;
}
